:root {
  --sun-height: 400px;
  --sun-width: 400px;
  /* Sun and Planet diameters in km */
  --sun-diameter: 1392000;
  --mercury-diameter: 4880;
  --venus-diameter: 12102;
  --earth-diameter: 12756;
  --mars-diameter: 6796;
  --jupiter-diameter: 142984;
  --saturn-diameter: 120536;
  --uranus-diameter: 51118;
  --neptune-diameter: 49528;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(black, grey, black);
  text-align: center;
}

.planets {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 190px;
}

img[alt="Sun"] {
  height: 400px;
  width: 400px;
  height: var(--sun-height);
  width: var(--sun-width);
}

img[alt="Mercury"] {
  height: 1.39px;
  width: 1.39px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--mercury-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--mercury-diameter)));
}

img[alt="Venus"] {
  height: 3.47px;
  width: 3.47px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--venus-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--venus-diameter)));
}

img[alt="Earth"] {
  height: 3.66px;
  width: 3.66px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--earth-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--earth-diameter)));
  animation: earth-orbit 10s linear infinite;
}

img[alt="Mars"] {
  height: 400px;
  width: 400px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--mars-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--mars-diameter)));
}

img[alt="Jupiter"] {
  height: 400px;
  width: 400px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--jupiter-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--jupiter-diameter)));
}

img[alt="Saturn"] {
  height: 400px;
  width: 400px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--saturn-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--saturn-diameter)));
}

img[alt="Uranus"] {
  height: 400px;
  width: 400px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--uranus-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--uranus-diameter)));
}

img[alt="Neptune"] {
  height: 400px;
  width: 400px;
  height: calc(var(--sun-height) / calc(var(--sun-diameter) / var(--neptune-diameter)));
  width: calc(var(--sun-width) / calc(var(--sun-diameter) / var(--neptune-diameter)));
}

@keyframes earth-orbit {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg)}
  to { transform: rotate(360deg) translateX(200px) rotate(-360deg)}
}
